.about {
  width: 100vw;
  background-color: $color-grey-light-1;
  padding: $pad-lg $pad-md $pad-md $pad-md;
  margin-top: -20vh;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
  justify-items: center;

  @media screen and (max-width: 900px) {
    padding: $pad-md $pad-sm $pad-sm $pad-sm;
  }

  &__heading {
    grid-column: 1 / span 2;
    text-align: center;
  }

  &__text {
    @media screen and (max-width: 1200px) {
      text-align: center;
      width: 75%;
      grid-column: 1 / span 2;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
