.about {
  width: 100vw;
  background-color: $color-grey-light-1;
  padding: 35rem 20rem 20rem 20rem;
  margin-top: -20vh;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
  justify-items: center;

  @media screen and (max-width: 1200px) {
    padding: 30rem 10rem 15rem 10rem;
  }

  &__heading {
    grid-column: 1 / span 2;
    text-align: center;

    @media screen and (max-width: 1000px) {
      font-size: 2.5rem;
    }
  }

  &__text {
    @media screen and (max-width: 1200px) {
      width: 75%;
      grid-column: 1 / span 2;
    }
  }
}
