.about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;

  &__heading {
    grid-column: 1 / span 2;
  }

  &__text {
    padding: 0 2vw 0 15vw;
  }
}
