.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  justify-items: center;
  padding: $default-padding;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  margin-top: -10rem;
}
