.stories {
  width: 100vw;
  display: grid;
  grid-template-rows: 12rem repeat(3, 1fr) 12rem;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: $default-padding;
  position: relative;
}
