.stories {
  width: 100vw;
  display: grid;
  grid-template-rows: 12rem repeat(3, 1fr) 12rem;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: $pad-md;
  position: relative;

  @media screen and (max-width: 900px) {
    padding: $pad-sm;
  }

  @media screen and (max-width: 600px) {
    padding: $pad-xs;
  }

  &__heading {
    text-align: center;
  }
}
